hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

/** INDEX.ctp **/

._index hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

._index h2
{
	text-align: center;
}

._index h3
{
	text-align: left;
}

/** FORM.ctp **/

.addAddress_form hr, .updateAddress_form hr, .addCard_form hr, .addPayPal_form hr, .addCategory_form hr, .updateCategory_form hr, .addProduct_form hr, updateProduct_form hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.addAddress_form textarea, .updateAddress_form textarea, .addCard_form textarea, .addPayPal_form textarea, .addCategory_form textarea, .updateCategory_form textarea, .addProduct_form textarea, .updateProduct_form textarea{
    color: black;
}

.addAddress_form, .updateAddress_form{
    margin-left: 220px;
}

.addCard_form, .addPayPal_form, .addCategory_form, .addProduct_form, .updateProduct_form{
    margin-left: 280px;
}

.updateCategory_form{
    margin-left: 215px;
}

.title h2{
    text-align: center;
    color: yellowgreen;
}

#fom-button{
    display: inline-block;
    list-style-type: none;
    border-radius: 8px;
    margin-left: 525px;
	background-color: yellowgreen;
    border-color: white;
    
}


#fom-button:hover{
	background-color:#6E6E6E;
}

#fom-button a{
	text-decoration:none;
	line-height: 30px;
	color: white;
	padding: 5px;
}

#editStatus-button{
    display: inline-block;
    list-style-type: none;
    border-radius: 8px;
    margin-left: 2px;
	background-color: yellowgreen;
    border-color: white;
    
}


#editStatus-button:hover{
	background-color:#6E6E6E;
}

#editStatus-button a{
	text-decoration:none;
	line-height: 30px;
	color: white;
	padding: 5px;
}

table {
     width: 100%;
}

table a
{
    text-decoration:none;
    color: white;
}

th{
    font-size: 14pt;
    background-color: #D94119;

}

td{
    font-size: 12pt;
    background-color: #1c1c1c ;
}

th, td {
    color: white;
    font-family: sans-serif;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #000;
    border-collapse: collapse;
    padding: 0.5em;
    caption-side: bottom;
}

.actions{
    width: 5%;
}
caption {
  padding: 0.3em;
  color: #fff;
  background: #000;
}

tbody tr:nth-child(odd) {
  background: #111;
}

._orderStatus{
    background-color: #F07575
    color: black;
}


#change-button{
    display: inline-block;
    list-style-type: none;
    border-radius: 8px;
    margin-left: 525px;
	background-color: deepskyblue;
    border-color: white;
    
}


#change-button:hover{
	background-color:#6E6E6E;
}

#change-button a{
	text-decoration:none;
	line-height: 30px;
	color: white;
	padding: 5px;
}
