

#principal-header-img {
    padding-top: 10px;
}
#principal-header-text{
    padding-top: 10px;
    text-align: left;
    padding-left: 30px;
    color:aliceblue;
    font-family: "Times New Roman";
}


#principal-header-nav-form{
    float: right;
    padding-top: 15px;
    padding-right: 30px;
}

@media screen and (max-width:350px)
{
    #principal-header-nav-form{
        float: left;
        padding-left: 30px;
    }
}

#principal-nav{
    font-style: normal;
    font-family: Arial;
    font-weight: bold;
}

#movie-info
{
    margin-top: 30px; 
}

#details-movie
{
    padding: 5px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #C9C9C9;
    border-radius: 5px;
}

.header{
    padding-bottom: 50px;
}

.container{
    background-color:black;
}


