.container{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    background-color: black;
}

*{
    box-sizing: border-box;
}

/**Header principal **/

header{
    padding-top: 20px;
    padding-bottom: 3%;

}


/**Este es el texto del header principal **/

#principal-header-text{
    padding: 0 0 0 3%;
    text-align: left;

}


/**Botones LOGIN, SIGNUP, CART **/
#header-nav {
    float: right;   
}

/**Botones LOGIN, SIGNUP, CART **/
#header-nav ul li {
    display: inline-block;
    list-style-type: none;
    border-radius: 8px;
    margin-right: 5px;
        
}

#header-nav > ul > li > a {
    color:white;
    display: block;
    line-height: 66px;
    padding: 0 10px 0 10px;
    text-decoration: none;
}

/**Botones LOGIN, SIGNUP, CART **/
#header-nav > ul > li > a{
    color:white;
    display: block;
    line-height: 50px;
    text-decoration: none;
    font-family: sans-serif;
}

/**Botones LOGIN, SIGNUP, CART **/
#header-nav > ul > li:hover {
    background-color:#6E6E6E;
}


/** Barra de búsqueda **/
#principal-nav-search{
    float: left;
    margin: 5% 1% 0 10%;
 
}

#signup{
    background-color: #D94119;
}

#account{
    background-color: deepskyblue;
    border-color: white;
}

#shoppingCart{
    background-color: yellowgreen;
    border-color: white;
}

#adminButton{
    background-color: yellowgreen;
    border-color: white;
}

#logout{
    background-color: #D94119;
    border-color: white;
}

#login{
    background-color: yellowgreen;
}


@media screen and (max-width:768px)
{
    
    
    #header-nav > ul
    {
        padding: 0;
    }
    
    
    #header-nav 
    {
        padding: 0;
        float: left;
        margin-right: 30%;
    }
    
    #principal-nav-search{
        margin: 0;
        padding: 0;
    }
    
    #header-nav > ul > li {
       margin-top: 5%;
    }
    
    #search
    {
        margin: 0;
    }
    
    #search-text
    {
        float: right;
        width: 50%;
        margin-left: 0;
    }

    select#search-filter
    {
        visibility: hidden;
        display: none;
    }
    
    .btn-default
    {
        display: none;
       visibility: hidden;
        margin: 0;
       
    }

}

/* ESTILOS DE CAROUSEL */
.carousel-inner> .item> a > img
{
    margin: auto;
}

#home_carousel{
    height: 200%;
}


/* Empieza la modificacion de estilo de search */
#search-filter{
    width: 45%;
    background: #D8D8D8;
    margin: 20px 0 10px 15px;
    font-size: 90%;
    position: absolute;
    font-family: 'Ubuntu',sans-serif;
}

.btn-default{
    position: absolute;
    margin: 20px 50px 0 75px;
}

#search-text{
    width: 180px;  
    margin-left: 100px;
    margin-top: 20px;
    font-family: sans-serif;
}

#search {
    position: relative;
    width: 200px;
}

/* Termina la modificacion de estilo de search */

/** Fin Header de la página**/

#principal-nav{
    background-color: #D94119;
}

.navbar .container-fluid .navbar-collapse  li a{
    color: black;
}

.navbar .container-fluid .navbar-collapse li  a:hover {
    background-color: firebrick;
}

.navbar .container-fluid .navbar-collapse li.active a:hover {
    background-color: firebrick;
}

.navbar .container-fluid .navbar-collapse li.active a  {
    background-color: darkorange;
    color: white;
}

#dropdown-categories{
    color: black;
}




.scrollable-menu
{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    border-radius: 3px;
   
}


@media (min-width: 768px)
{
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

footer{

    clear: both;
    height: 50px;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color:#D94119;
    color:black;
    border-radius: 4px;
    margin-top: 30px;

}





