hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.75), rgba(0,0,0,0));
}

#principal-header-text-cart
{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    color: white;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
}

th
{
    color: white;
    font-family: sans-serif;
    font-size: 14pt;
    letter-spacing: 1px;
    text-align: center;
    background-color: #D94119;
}

td
{
    color: white;
    font-family: sans-serif;
    font-size: 12pt;
    letter-spacing: 1px;
    text-align: center;
    background-color: darkcyan;
}

p
{
    text-align: right;
    font-family: sans-serif;
    font-size: 14pt;
    color: white;
}

table
{
    width: 40%;
    margin-top: 20px;
}

#proceed-to-checkout
{
    background: yellowgreen;
    border: none;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px darkgrey;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    width: 180px;
    height: 50px;
    font-size: 120%;
    margin-right: 100px;
    margin-left: 10px;
}

.error-message
{
    color: orange;
    margin-left: 200px;
}

input[type=number]
{
    color: black;
    font-family: sans-serif;
}

.glyphicon
{
    color: white;
}

#updateCart-btn
{
    color: yellowgreen;
}