.tab {
	padding-left: 10%;
}

table {
	width:80%;
	margin:auto;
	color: #CCC;
	text-align: center;
    overflow: hidden;
    border-radius: 8px;
}

td, th { 
    padding:5px; 
}
thead {
	background-color:#D94119;
}

.izq {
	text-align: left;
	width: 80%;
}
#cat {
background-color:#111;
cursor:pointer;
}

#sub {
background-color:#222;
}

.categoria {
	display: inline-block;
	width: 30%;
}

.tabulada {
	display: inline-block;
	width: 10%;
	text-align: center;
}

.sinpunto {
	list-style-type: none;
}

.catHeader h2{
    color:white;
    text-align: center;
}

.caja h2{
    color: yellowgreen;
    text-align: center;
}

#fom-button{
    display: inline-block;
    list-style-type: none;
    border-radius: 8px;
    margin-left: 525px;
	background-color: yellowgreen;
    border-color: white;
    
}


#fom-button:hover{
	background-color:#6E6E6E;
}

#fom-button a{
	text-decoration:none;
	line-height: 30px;
	color: white;
	padding: 5px;
}
