#content {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  letter-spacing:1px;
  margin: auto;
}

#form-signup
{
    width: 450px;
    margin: auto;
}

.barra{
  text-align: left;
  margin: auto;
}

.container #content input{
  margin: 30px 0 0 0;
  height: 40px;
  text-shadow: 1px 1px 1px darkgrey;
  border-radius: 5px;
  background-color: #d3d3d3;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  color: black;
}

.container #content h2{
  text-align: center;
}

.form-control{
  width: 175px;
  margin:auto;
  margin-bottom: 20px;
}

#email_id{
  width: 98%;
  margin: auto;
}

#UserFirstName{
  width: 98%;
  margin: auto;
}

#UserLastName{
  width: 98%;
}

#pass_id{
  width: 98%;
}

#repass_id{
  width: 98%;

}

#UserBirthdayDay, #UserBirthdayMonth, #UserBirthdayYear {
  display: inline;
  width: auto;
  margin:30px 2px 0 2px;
  background-color: #d3d3d3;
}

#gender-select{
  width: 145px;
  margin-top: 30px;
  background-color: #d3d3d3;
  float: left;
}

#role-select{
  width: 145px;
  margin-top: 30px;
  background-color: #d3d3d3;
  float: left;
}

#button-signup{
  margin-left: 40%;
  background: deepskyblue;
  border: none;
  font-family:sans-serif;
  border-radius: 7px;
  font-weight : bold;
  color : white;
  padding-right = 1px;
  width: 170px;
  height: 40px;

}

.control-label{

    padding-left: 0px;
}

label{
  padding-left: 0px;
  margin: 30px 0 0 0;
  font-weight: 100;
  letter-spacing:1px;
}


select {
      text-shadow: 1px 1px 1px darkgrey;

}



.error-message{
    color: orange;
    margin-left: 200px;
}

.message{
    color: orangered;
    margin-left: 200px;
    font-weight: bold;
    font-size: 200%;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}



#principal-header-text-signup{
    color:white;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px black;
}




@media screen and (max-width:768px)
{
  #content{
    width:inherit;
  }

  .container #content input{
    width: 100%;
    margin-left: 5%;
    margin-top: 10px;
  }

  label{
    margin-top: 10px;
  }

  #UserBirthdayDay, #UserBirthdayMonth, #UserBirthdayYear {
    width: 100%;
    margin-left: 5%;
    margin-top: 10px;
  }

  #button-signup{
    margin-left: 5%;
    width: 100%;
  }
  #gender-select{
    width: 100%;
    margin-left: 5%;
    margin-top: 10px;
  }

}
